html{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body{
    background-color:#4CD7D0;
  

}
.parent{
    scroll-snap-type: y mandatory;
}

/* .snap{
    scroll-snap-align: start;
} */
*{
    color:white;
}

